body {
    font-family: $font-primary;
    font-weight: 400;
    line-height: 1.7;
}

.heading-1 {

    &--cursive {
        font-weight: 400;
        font-size: 7rem;
        font-family: $font-cursive;
    }
}

.heading-2 {

    &--cursive {
        font-weight: 400;
        font-size: 5rem;
        font-family: $font-cursive;
    }
}