hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.navbar {
    background-color: rgb(32, 32, 32);
}
.nav-link, .navbar-brand {
    color: rgb(0, 255, 255);
}

.nav-link:hover, .navbar-brand:hover {
    color: rgb(0, 209, 209);
}

.active {
    color: rgb(214, 255, 255);
}