html, body { 
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

body {
  background-color: #fffddd;
}

#header_title {
  text-align: center;
}

#map {
  height: 85%;
}

#infoImage {
  width: 128px;
  height: 128px;
}

#restaurant-list-container {
  float: left;
  width: 155px;
  padding: 10px;
}

#searchInput {
  margin: 15px 0 15px;
  width: 85%;
  height: 28px;
}

#clickable:hover {
  cursor: pointer;
  color: #fa00ff;
}

#toggle-button {
  background-color: #ffea00;
  border-radius: 8px;
}

.button {
  background-color: #ffea00;
  border-radius: 8px;
  padding: 10px 24px;
  font-size: 16px;
  margin: 0 auto;
  display: block;
}

.button:hover, #toggle-button:hover{
  background-color: #fff04b;
}