*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-image: url("../img/macaroon-colorful.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100%;
}

.container {
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content 60vh min-content max-content (min-content)[2];
      grid-template-rows: -webkit-min-content 60vh -webkit-min-content -webkit-max-content repeat(2, -webkit-min-content);
      grid-template-rows: min-content 60vh min-content max-content repeat(2, min-content);
  -ms-grid-columns: [full-start] minmax(6rem, 1fr) [center-start] ([col-start] minmax(min-content, 14rem) [col-end])[8] [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

@media only screen and (max-width: 68em) {
  .container {
    padding: 0;
    -ms-grid-columns: [center-start] ([col-start] minmax(min-content, 14rem) [col-end])[8] [center-end];
        grid-template-columns: [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end];
        grid-template-columns: [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end];
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.heading-1--cursive {
  font-weight: 400;
  font-size: 7rem;
  font-family: "Great Vibes", cursive;
}

.heading-2--cursive {
  font-weight: 400;
  font-size: 5rem;
  font-family: "Great Vibes", cursive;
}

.heading-3 {
  font-size: 2.5rem;
}

.heading-3--italic {
  font-weight: 400;
  font-style: italic;
}

.heading-3--cursive {
  font-weight: 400;
  font-size: 5rem;
  font-family: "Great Vibes", cursive;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 3rem !important;
}

.u-margin-bottom-large {
  margin-bottom: 5rem !important;
}

.u-margin-top-small {
  margin-top: 1.5rem !important;
}

.u-margin-top-medium {
  margin-top: 3rem !important;
}

.u-margin-top-large {
  margin-top: 5rem !important;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

hr {
  overflow: visible;
  /* For IE */
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

hr:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.footer {
  background-color: #fd7869;
  grid-column: center-start / center-end;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
  padding: 3rem;
}

.footer__nav {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__nav__link:link, .footer__nav__link:visited {
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  display: block;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.footer__nav__link:hover, .footer__nav__link:active {
  background-color: #ff8d81;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0.3rem 0.3rem 0.2rem #474747;
          box-shadow: 0.3rem 0.3rem 0.2rem #474747;
}

.footer__nav__link:active {
  background-color: #ff8a7d;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.copyright {
  font-size: 1.4rem;
  color: #fff;
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%;
}

.copyright__link:link, .copyright__link:visited {
  text-decoration: underline;
  color: #fff;
}

.copyright__link:hover, .copyright__link:active {
  background-color: #ff8d81;
}

.navigation {
  background-color: #1d1d1d;
  grid-column: center-start / center-end;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  padding: .5rem;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 18rem (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: 18rem repeat(auto-fit, minmax(15rem, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 59em) {
  .navigation {
    padding: 0;
    -ms-grid-columns: 18rem (minmax(12rem, 1fr))[auto-fit];
        grid-template-columns: 18rem repeat(auto-fit, minmax(12rem, 1fr));
  }
}

.navigation__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.7rem;
  color: #fff;
}

.navigation__icon {
  width: 8.2rem;
  height: 8.2rem;
}

.navigation__item {
  position: relative;
  text-align: center;
}

.navigation__item::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #ff0080;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
}

.navigation__item:hover {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}

.navigation__item:hover::before, .navigation__item--active::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  width: calc(100% - 2px);
}

.navigation__item:active::before {
  background-color: #ff2f97;
}

.navigation__link:link, .navigation__link:visited {
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem;
  position: relative;
  z-index: 10;
}

.header {
  grid-column: center-start / center-end;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content 1fr;
      grid-template-columns: 1fr -webkit-max-content 1fr;
      grid-template-columns: 1fr max-content 1fr;
}

.header__headings {
  margin-top: 3rem;
  margin-bottom: 3rem;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  color: #fff;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.about {
  grid-column: center-start / center-end;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  background-color: whitesmoke;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  padding-bottom: 7rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 55rem 1fr;
      grid-template-columns: 1fr 55rem 1fr;
}

.about__content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.about__info {
  font-size: 1.6rem;
  text-indent: 5rem;
}

.customer-reviews {
  background-color: #00dcdc;
  margin-top: -9rem;
  padding-top: 8rem;
  grid-column: center-start / center-end;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content max-content;
      grid-template-rows: -webkit-max-content -webkit-max-content;
      grid-template-rows: max-content max-content;
  -ms-grid-columns: 40% 1fr;
      grid-template-columns: 40% 1fr;
}

.customer-reviews h2 {
  grid-column: 1 / -1;
  color: #fff;
}

.customer-reviews__pictures {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customer-reviews__picture {
  max-width: 60%;
  border-radius: 1.5rem;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.customer-reviews__reviews {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.customer-reviews .review {
  background-color: whitesmoke;
  -webkit-box-shadow: 0.3rem 0.3rem 0.2rem #474747;
          box-shadow: 0.3rem 0.3rem 0.2rem #474747;
  max-width: 80%;
  border-radius: 15px;
  padding: 2rem;
  position: relative;
  overflow: hidden;
}

.customer-reviews .review__title {
  text-indent: 3rem;
  z-index: 10;
  position: relative;
}

.customer-reviews .review__text {
  font-size: 1.6rem;
  z-index: 10;
  position: relative;
}

.customer-reviews .review__name {
  font-size: 1.2rem;
  padding-top: .8rem;
  text-indent: 1.5rem;
}

.customer-reviews .review::before {
  content: "\201C";
  position: absolute;
  top: -1.9rem;
  left: -.4rem;
  line-height: 1;
  font-size: 18rem;
  font-family: sans-serif;
  color: #dfdfdf;
  z-index: 1;
}

.customer-reviews .review::after {
  content: "\201D";
  position: absolute;
  bottom: -11.4rem;
  right: -.4rem;
  line-height: 1;
  font-size: 18rem;
  font-family: sans-serif;
  color: #dfdfdf;
  z-index: 1;
}

.gallery {
  background-color: whitesmoke;
  grid-column: center-start / center-end;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (5vw)[7];
      grid-template-rows: repeat(7, 5vw);
  grid-gap: 1.5rem;
  padding: 1.5rem;
}

.gallery__item--1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.gallery__item--2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / span 3;
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7 / span 2;
}

.gallery__item--3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4 / span 3;
}

.gallery__item--4 {
  grid-row: 6 / -1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
}

.gallery__item--5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / span 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.gallery__item--6 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / span 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.gallery__item--7 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4 / span 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / span 2;
}

.gallery__item--8 {
  grid-row: 6 / -1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7 / span 2;
}

.gallery__item--9 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7 / span 2;
}

.gallery__item--10 {
  grid-row: 4 / -1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5 / span 2;
}

.gallery__item--11 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / span 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.gallery__item--12 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.gallery__item--13 {
  grid-row: 6 / -1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
}

.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
/*# sourceMappingURL=main.css.map */