{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block loginbutton %}
  <a id = "userbutton" class = "alignright" href="{{url_for('showLogin')}}">Login</a>
{% endblock %}
{% block nav_container %}
<ul style="list-style-type:none">
  {% for catagory in catagories %}

  <li><a href = "{{url_for('displayCatagory', catagory=catagory.name)}}">{{catagory.name}}</a></li>
  
  {% endfor %}
  </ul>
{% endblock %}
{% block article_container %}
  <h2>Check Out These Awesome Games!</h2>
  <ul style="list-style-type:none">
  {% for game in games %}

  <li><a href = "{{url_for('viewGame', catagory=game.catagory, game=game.name)}}">{{game.name}}</a> ({{game.catagory}})</li>
  
  {% endfor %}
  </ul>
{% endblock %}