// COLORS
$color-primary: rgb(0, 220, 220);
$color-secondary: rgb(255, 0, 128);
$color-secondary-light: rgb(255, 47, 151);

$color-grey-light-1: rgb(245, 245, 245);
$color-grey-light-2: rgb(197, 197, 197);

$color-white: #fff;
$color-black: #000;

$color-footer-links: rgb(255, 141, 129);
$color-footer-links-light: rgb(255, 138, 125);

// FONTS
$font-primary: 'Montserrat',
sans-serif;
$font-cursive: 'Great Vibes',
cursive;

//FONT SIZING
$font-size-default: 1.6rem;

// BOX-SHADOW
$box-shadow: .3rem .3rem .2rem rgb(71, 71, 71);