// COLORS
$color-primary: rgb(0, 225, 255);
$color-secondary: rgb(255, 0, 128);

$color-grey-light-1: rgb(218, 216, 216);
$color-grey-light-2: rgb(197, 197, 197);

$color-white: #fff;
$color-black: #000;

// FONTS
$font-primary: 'Montserrat',
sans-serif;