.navigation {
    background-color: rgb(0, 214, 214);
    grid-column: center-start / center-end;
    grid-row: 1 / 2;
    //padding-right: 3rem;
    //padding-left: 3rem;

    list-style: none;

    display: grid;
    grid-template-columns: 18rem repeat(auto-fit, minmax(15rem, 1fr));
    justify-content: space-around;
    align-items: center;

    &__logo {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        color: $color-white;
    }

    &__item {
        position: relative;
    }

    &__item::before {
        content: "";
        position: absolute;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: $color-secondary;
        transform: scaleY(0);
        transition: transform .2s, width .4s cubic-bezier(1, 0, 0, 1) .2s, background-color .1s;
    }

    &__item:hover {
        transform: translateX(2px);
    }

    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
        width: calc(100% - 2px);
    }

    &__item:active::before {
        background-color: $color-secondary-light;
    }

    &__link:link,
    &__link:visited {
        font-size: 1.8rem;
        font-weight: 500;
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem;
        position: relative;
        z-index: 10;
    }

    /*     &__link:link,
    &__link:visited {
        font-size: 1.8rem;
        font-weight: 500;
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        padding: 2rem;
        border-radius: 100%;
        display: inline-block;
        transition: all .2s;
    }

    &__link:hover,
    &__link:active {
        background-color: rgb(0, 226, 226);
        transform: translateY(-3px);
        box-shadow: .2rem .2rem .2rem rgb(71, 71, 71);
    } */
}