.navigation {
    background-color: rgb(29, 29, 29);
    grid-column: center-start / center-end;
    grid-row: 1 / 2;
    padding: .5rem;

    list-style: none;

    display: grid;
    grid-template-columns: 18rem repeat(auto-fit, minmax(15rem, 1fr));
    align-items: center;

    &__logo {
        display: flex;
        align-items: center;
        font-size: 1.7rem;
        color: $color-white;
    }

    &__icon {
        width: 8.2rem;
        height: 8.2rem;
    }

    &__item {
        position: relative;
        text-align: center;
    }

    &__item::before {
        content: "";
        position: absolute;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: $color-secondary;
        transform: scaleY(0);
        transition: transform .2s, width .4s cubic-bezier(1, 0, 0, 1) .2s, background-color .1s;
    }

    &__item:hover {
        transform: translateX(2px);
    }

    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
        width: calc(100% - 2px);
    }

    &__item:active::before {
        background-color: $color-secondary-light;
    }

    &__link:link,
    &__link:visited {
        font-size: 1.8rem;
        font-weight: 500;
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem;
        position: relative;
        z-index: 10;
    }
}