.navigation {
    background-color: aqua;
}

.header {
    background-color: blueviolet;
}

.about {
    background-color: chartreuse;
}

.reviews {
    background-color: crimson;
}

.gallery {
    background-color: darkgreen;
}

.footer {
    background-color: salmon;
}