.header {
    grid-column: center-start / center-end;
    grid-row: 2 / 3;
    position: relative;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    background-color: rgba(0, 0, 0, .5);

    &__headings {
        margin-top: 3rem;
        margin-bottom: 3rem;
        grid-column: 2 / 3;
        color: $color-white;
        display: grid;
        justify-items: center;
        align-content: space-between;
    }
}

.about {
    grid-column: center-start / center-end;
    grid-row: 3 / 4;
    background-color: $color-grey-light-1;
    display: grid;
    grid-template-columns: 1fr 55rem 1fr;

    &__content {
        grid-column: 2 / 3;
    }

    &__info {
        font-size: $font-size-default;
        text-indent: 5rem;
    }
}

.customer-reviews {
    background-color: $color-primary;
    grid-column: center-start / center-end;
    grid-row: 4 / 5;
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-columns: 40% 1fr;

    h2 {
        grid-column: 1 / -1;
        color: $color-white;
    }

    &__picture {
        max-width: 60%;
        border-radius: 1.5rem;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    &__reviews {
        display: grid;
        align-content: space-around;
    }

    .review {
        background-color: $color-grey-light-1;
        box-shadow: $box-shadow;
        width: 80%;
        border-radius: 15px;
        padding: 2rem;
        position: relative;
        overflow: hidden;

        &__title {
            text-indent: 3rem;
            z-index: 10;
            position: relative;
        }

        &__text {
            font-size: $font-size-default;
            z-index: 10;
            position: relative;
        }

        &__name {
            font-size: 1.2rem;
            padding-top: .8rem;
            text-indent: 1.5rem;
        }

        &::before {
            content: "\201C";
            position: absolute;
            top: -1.9rem;
            left: -.4rem;
            line-height: 1;
            font-size: 18rem;
            font-family: sans-serif;
            color: rgb(223, 223, 223);
            z-index: 1;
        }

        &::after {
            content: "\201D";
            position: absolute;
            bottom: -11.4rem;
            right: -.4rem;
            line-height: 1;
            font-size: 18rem;
            font-family: sans-serif;
            color: rgb(223, 223, 223);
            z-index: 1;
        }
    }
}



.gallery {
    background-color: darkgreen;
    grid-column: center-start / center-end;
    grid-row: 5 / 6;
}